<footer>
    <div class="bg-accent py-6 text-white">
        <div class="page-container text-center">
            <p>&copy; {new Date().getFullYear()} Ako byť milionár. Všetky práva vyhradené.</p>
        </div>
    </div>
</footer>
